* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
}

body {
	height: 100%;
	background-image: url(./image/bcg.jpg);
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 10px;
	backdrop-filter: blur(1em);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
	border: 2px solid rgba(255, 255, 255, 0.671);
}

.output-container {
	display: flex;
	width: 100%;
}

.display-container {
	background: rgba(255, 255, 255, 0.671);
	border-radius: 5px;
	margin-bottom: 1em;
	color: #000000;
	box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.7),
		inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.current-calc,
.operator-type {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.4);
	height: 1.4em;
	padding: 0 0.3rem;
	display: block;
}

.current-calc {
	width: 100%;
	text-align: right;
}

.display {
	width: 100%;
	text-align: right;
	color: #000000;
	padding: 0 1rem 0.5rem 0;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"add minus multiply divide"
		"seven eight nine equal"
		"four five six equal"
		"one two three equal"
		"decimal zero clear equal";
	gap: 0.5em;
}

button {
	font-size: 1rem;
	padding: 1em;
	background: rgba(255, 255, 255, 0.521);
	color: #000000;
	border: none;
	border-radius: 2em;
	cursor: pointer;
	box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.8),
		1px 1px 3px rgba(0, 0, 0, 0.1);
}
button:hover,
button:focus {
	background: rgba(255, 255, 255, 0.253);
}

.add {
	grid-area: add;
}
.minus {
	grid-area: minus;
}
.multiply {
	grid-area: multiply;
}
.divide {
	grid-area: divide;
}
.equal {
	grid-area: equal;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.zero {
	grid-area: zero;
}
.decimal {
	grid-area: decimal;
}
.clear {
	grid-area: clear;
}